<a href="https://colab.research.google.com/github/mokymok/notebooks/blob/main/evil_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An evil number is a non-negative number that has an even number of 1s in its binary expansion.

Print all the evil numbers from 0 to 50 inclusive, each on their own line.

Numbers that are not evil are called odious numbers.

In [ ]:
for i in range(50):s=bin(i)[2:];print(s.zfill(3))

000
001
010
011
100
101
110
111
1000
1001
1010
1011
1100
1101
1110
1111
10000
10001
10010
10011
10100
10101
10110
10111
11000
11001
11010
11011
11100
11101
11110
11111
100000
100001
100010
100011
100100
100101
100110
100111
101000
101001
101010
101011
101100
101101
101110
101111
110000
110001

In [ ]:
n=0
for i in range(25):print(n);n=(n+2)^(-((n+2)^n))%3

0
3
5
6
9
10
12
15
17
18
20
23
24
27
29
30
33
34
36
39
40
43
45
46
48

In [ ]:
n=10
'{:.{}f}'.format(pi,n)

'3.1415926536'

In [ ]:
a,b,c,d=31,0,1,int(0)
while d<a:
    print(b)
    e=b+c
    b,c=c,e
    d+=1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040

In [ ]:
a=d=c=0;b=1
while d<31:
    print(c)
    c=a+b
    a,b=b,c
    d+=1

0
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

In [ ]:
b=1;a=0
while a<16**5:print(a);c=a+b;a,b=b,c

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040